@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to People Search Application</h2>
    <p class="lead"></p>
    <p>@Html.ActionLink("Click here to go to Search App", "Index", "Person", null, new { @class = "btn btn-primary" })</p>
</div>
<div class="row">
    <div align="right">
        <p>
            <strong>Developed by Pooja Shah</strong>
        </p>
    </div>
</div>